{% extends 'post/base.html' %}

{% block desc %}{{ new.description }}{% endblock desc %}
{% block keywords %}{{ new.keywords }}{% endblock keywords %}
{% block title %}{{ new.title }}{% endblock title %}

{% block content %}


    <h1>{{ new.title }}</h1>
    <p>{{ new.text|safe }}</p><hr>

    Автор: {{ new.user }} - {{ new.created }}

    {% for comment in comments %}
        Пользователь - {{ comment.user }} <br>
        {{ comment.text }}
        Добавлен - {{ comment.created }}
    {% endfor %}

{% endblock content %}
